[submodule "Shaddock/vendor/spdlog"]
	path = Shaddock/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shaddock/vendor/GLFW"]
	path = Shaddock/vendor/GLFW
	url = https://github.com/Apeng2013/glfw
[submodule "Shaddock/vendor/glm"]
	path = Shaddock/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Shaddock/vendor/yaml-cpp"]
	path = Shaddock/vendor/yaml-cpp
	url = https://github.com/Apeng2013/yaml-cpp.git
[submodule "Shaddock/vendor/ImGuizmo"]
	path = Shaddock/vendor/ImGuizmo
	url = https://github.com/Apeng2013/ImGuizmo.git
[submodule "Shaddock/vendor/imgui"]
	path = Shaddock/vendor/imgui
	url = https://github.com/Apeng2013/imgui
	branch = docking
[submodule "Shaddock/vendor/Box2D"]
	path = Shaddock/vendor/Box2D
	url = https://github.com/Apeng2013/box2d
